[gerrit]
	basePath = git
	canonicalWebUrl = <%= node['gerrit']['frontend_url'] %>
[database]
	type = H2
	database = db/ReviewDB
[auth]
	type = OPENID
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit2
	javaHome = <%= node['java']['java_home'] %>
[sshd]
	listenAddress = *:<%= node['gerrit']['port'] %>
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
